body {

  justify-content: center;
}
.container {
  background-color: #6595ee;
  justify-content: center;
  border: 1px solid black;
  border-radius: 35px;
}
  header {
    display: block;
    text-align: center;
    width: 100%;
  }
  main{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
    section {
      background-color: white;
      padding: 1em;
      display: inline-block;
      justify-content: center;
      width: 16%;
      /* height: 75%; */
      border: 1px solid black;
      border-radius: 35px;
    }
    h2{
      text-align: center;
      margin: 0.5em;
    }
      .keys{
        display: inline-block;
        vertical-align: top;
      }
      .values{
        display: inline-block;
        vertical-align: top;
        padding-left: 1em;
      }
      ul{
        text-indent: -2em;
      }